.uam_footerDomaine {
  &_logo {
    margin-bottom: 20px;

    img {
      max-height: 50px;
    }
  }

  &_description {
    margin-top: 20px;

    strong {
      @include fontStyle(600, 16px, 26px);
    }
    
    p {
      @include fontStyle(400, 16px, 26px);

      &:last-child {
        margin-bottom: 0;
      }
    }
  }

  @media screen and (min-width: $screen-s-min) {
    &_logo {
      margin-bottom: 8px;
    }

    &_description {
      margin-top: 8px;

      strong {
        @include fontStyle(700, 16px, 26px);
      }
    }
  }

  @media screen and (min-width: 700px) and (max-width: $screen-s) {
    &_description {

      p {
        max-width: 255px;
      }      
    }
  }
}
