.uam_contentWrapper {
  display: flex;
  flex-direction: column;
  gap: 100px;
  padding: 151px 15px 190px 15px;
  background-color: $color-grey-background;
  margin-left: -15px;
  margin-right: -15px;
  position: relative;

  .uam_spotlight:first-child {
    > * {
      margin-left: auto;
      text-align: right;
    }

    .uam_spotlight_buttonContainer {
      justify-content: flex-end;
    }
  }

  .uam_spotlight:last-child {
    > * {
      margin-right: auto;
      text-align: left;
    }

    .discount_button {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 150px;
    background-color: $color-white;
    clip-path: polygon(100% 100%, 100% 0, 0 0, 100% 100%);
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 150px;
    background-color: $color-white;
    clip-path: polygon(100% 100%, 0 0, 0 0, 0 100%);
  }
}
