.uam_footerTitle {
  @include fontStyle(900, 22px, 20px);
  margin-top: 0;
  margin-bottom: 0;

  @media screen and (min-width: 700px) {
    @include fontStyle(700, 22px, 32px);
    font-family: $font-Eagle;
    text-transform: uppercase;
  }
}
